{% extends 'core/base.html' %}
{% load humanize %}
{% load static %}

{% block content %}

<style>
    body {
        background: #000;
    }
</style>
<div class="flex flex-col md:flex-row gap-6 h-screen">
    <!-- Sidebar -->


    <!-- Main Content -->
    <div class="flex-1 space-y-6">
        <!-- Wallet Card -->
        <div class="w-full flex justify-between">
            {%include 'core/wallet.html'%}
            <div class="flex items-center justify-center">
                <img src="{%static 'home_media/tesla_1.png'%}" alt="" class="max-w-[1.8em] w-auto mr-3">

            </div>


        </div>


        <!-- Portfolio Summary -->
        <div class="rounded-lg shadow-md">
            <h2 class="text-2xl font-bold mb-4">My Stock</h2>
            {% if holdings %}
            <p class="text-gray-600">TSLA: {{ holdings.0.quantity|floatformat:2 }} shares</p>
            <p class="text-gray-600">Current value: ${{ holdings.0.current_value|floatformat:2 }}</p>
            <p class="text-gray-600">+12% today</p>
            <br>
            <a href="{% url 'portfolio' %}" class="mt-4 inline-block text-blue-400 hover:underline">View Portfolio →</a>

            {% else %}
            <div class="min-h-36 flex flex-col items-center justify-center border py-3">
                <svg xmlns="http://www.w3.org/2000/svg" class="text-gray-600" width="24" height="24" fill="currentColor"
                    viewBox="0 0 24 24">
                    <!--Boxicons v3.0.8 https://boxicons.com | License  https://docs.boxicons.com/free-->
                    <path
                        d="M10 5H9V2H7v3H6c-.55 0-1 .45-1 1v12c0 .55.45 1 1 1h1v3h2v-3h1c.55 0 1-.45 1-1V6c0-.55-.45-1-1-1M9 17H7V7h2zm9-10h-1V4h-2v3h-1c-.55 0-1 .45-1 1v8c0 .55.45 1 1 1h1v3h2v-3h1c.55 0 1-.45 1-1V8c0-.55-.45-1-1-1m-1 8h-2V9h2z">
                    </path>
                </svg>
                <p class="text-gray-600">You don't have any stock yet.</p>
                <a href="{% url 'buy_stock' %}" class=" inline-block btn btn-link text-blue-600 hover:underline">Buy
                    Stock</a>


            </div>
            {% endif %}
        </div>
        <!-- <br> -->

        <!-- <br> -->
        <!-- <div class="flex w-full items-center justify-between">
            <a href="{% url 'vehicles:vehicle_list' %}" class="text-gray-800 btn w-50 hover:text-blue-600">Portfolio</a>
            <a href="{% url 'vehicles:my_shares' %}" class="text-gray-800 btn w-50 hover:text-blue-600">My Shares</a>
        </div> -->
        <br>

        {% include 'core/txs.html' %}
    </div>
</div>
{% endblock %}