{% extends 'core/base.html' %}
{% load humanize %}
{% load static %}

{% block content %}

<style>
    body {
        background: #000;
    }
</style>
<div class="flex flex-col md:flex-row gap-6 h-screen">
    <!-- Sidebar -->


    <!-- Main Content -->
    <div class="flex-1 space-y-6">
        <!-- Wallet Card -->
        <div class="w-full flex justify-between">
            <div class="stats rounded-0">
                <div class="stat">
                    <div class="stat-title text-success">Account balance</div>
                    <div class="stat-value">${{ wallet.balance|floatformat:2 }}</div>
                    <div class="stat-actions">
                        <a href="{%url 'deposit' %}" class="btn btn-xs btn-primary">Deposit</a>
                        <a href="{%url 'withdraw' %}" class="btn btn-xs btn-primary">Withdraw</a>

                    </div>
                </div>


            </div>
            <div class="flex items-center justify-center">
                <img src="{%static 'home_media/tesla_1.png'%}" alt="" class="max-w-[1.8em] w-auto mr-3">

            </div>


        </div>


        <!-- Portfolio Summary -->
        <div class="rounded-lg shadow-md">
            <h2 class="text-2xl font-bold mb-4">My Stock</h2>
            {% if holdings %}
            <p class="text-gray-600">TSLA: {{ holdings.0.quantity|floatformat:2 }} shares</p>
            <p class="text-gray-600">Current value: ${{ holdings.0.current_value|floatformat:2 }}</p>
            <p class="text-gray-600">+12% today</p>
            <br>
            <a href="{% url 'portfolio' %}" class="mt-4 inline-block text-blue-400 hover:underline">View Portfolio →</a>

            {% else %}
            <div class="min-h-42 flex flex-col items-center justify-center border border-white/30 py-5">
                <img src="{% static 'home_media/ppiip.png' %}" alt="" class="w-24 h-24 text-center">
                <p class="text-gray-600 mb-2">You don't have any stock yet.</p>
                <a href="{% url 'buy_stock' %}" class=" inline-block btn btn-link text-blue-600 hover:underline">Buy
                    Now</a>


            </div>
            {% endif %}
        </div>

        <br>

        {% include 'core/txs.html' %}
    </div>
</div>
{% endblock %}