{% extends 'core/base.html' %}
{% load static %}

{% block content %}
<div class="py-3 space-y-3 flex flex-col items-center ">
    <h1 class="text-xl font-bold">Payment {{transaction.status}}</h1>
    {% if transaction.status == 'pending' or transaction.status == 'payment_pending' %}
    <p class="text-gray-600 text-center">Your payment is currently pending. Your wallet is expected to be creditted in a
        few mins after we have verified your payment..</p>
    {% elif transaction.status == 'completed' %}
    <p class="text-gray-600 text-center">Your payment has been approved successfully. Your funds have been transferred
        to your wallwt balance..</p>
    {% else %}
    <p class="text-gray-600 text-center">Your payment could not be completed. Try making another deposit.</p>

    {% endif %}
    <a href="{% url 'dashboard' %}" class="btn btn-link text-red-600 hover:underline">Go Home.</a>


</div>



{% endblock %}